:root {
  --primary-color: #4043c9;
  --secondary-color: #ffff;
  --text-primary-color: black;
  --text-secondary-color: #ffff;
  --text-third-color: #4043c9;
  --border-radius: 15px;
  --font-family: "Space Grotesk", sans-serif;
}

.center-me {
  display: flex;
  justify-content: center;
  align-items: center;
}

.w-100 {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

body {
  font-family: var(--font-family);
}

#main {
  padding: 2% 3% 2%;
  height: 100vh;
}

.container {
  border-radius: 25px;
  width: 500px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

button {
  background: none;
  border: none;
  color: var(--text-primary-color);
}

.banner {
  background: var(--primary-color);
  color: var(--text-secondary-color);
  border-radius: 25px 25px 0 0;
  padding-top: 20px;
}

.upperBanner {
  justify-content: space-around;
}

.upperBanner button {
  color: var(--text-secondary-color);
}

.lowerBanner {
  justify-content: space-around;
}

.tasksView {
  justify-content: start;
}

.addTaskHeader {
  border: none;
  padding: 15px 20px 15px;
  border-radius: var(--border-radius);
  background-color: var(--secondary-color);
  color: var(--text-third-color);
}

.banner div {
  padding: 2% 4% 2%;
}

.hidden {
  display: none;
}

.addList input {
  border: none;
  border-radius: var(--border-radius);
  padding: 10px;
  width: 70%;
}

#btnListner {
  padding: 2% 3% 2%;
  border-radius: var(--border-radius);
  background: var(--text-secondary-color);
  color: var(--primary-color);
  margin-left: 5px;
}

.listDateHolder {
  padding: 3% 3% 3%;
  background: var(--primary-color);
  color: var(--text-secondary-color);
  border-radius: var(--border-radius);
}

.listDates {
  justify-content: start;
  padding: 3% 6% 3%;
}

.listDates h2 {
  margin: 1% 4% 1%;
}

.addedList {
  height: 50vh;
}

.lists {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 4% 6% 4%;
  padding: 4% 6% 4%;
  border-radius: 25px;
  transition: ease-in 0.5ms;
}

.lists:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.checkBtn {
  transform: scale(1.5);
}
